$icomoon-font-family: "Icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-phone: unquote('"\\e912"');
$icon-user: unquote('"\\e913"');
$icon-globe: unquote('"\\e911"');
$icon-linkedin-fill: unquote('"\\e910"');
$icon-linkedin: unquote('"\\e90e"');
$icon-x: unquote('"\\e90f"');
$icon-plus: unquote('"\\e90c"');
$icon-minus: unquote('"\\e90d"');
$icon-arrow-left-light: unquote('"\\e90b"');
$icon-arrow-right-light: unquote('"\\e90a"');
$icon-search: unquote('"\\e900"');
$icon-download: unquote('"\\e901"');
$icon-chevron-right: unquote('"\\e902"');
$icon-arrow-left: unquote('"\\e903"');
$icon-chevron-left: unquote('"\\e904"');
$icon-chevron-up: unquote('"\\e905"');
$icon-chevron-down: unquote('"\\e906"');
$icon-arrow-right: unquote('"\\e907"');
$icon-close: unquote('"\\e908"');
$icon-hamburger: unquote('"\\e909"');
$icon-play: unquote('"\\ea1c"');
$icon-pause: unquote('"\\ea1d"');
