.post-basic {
  & > ul,
  & > ol {
    margin-bottom: var(--space-m);
    // font-family: $font-family-serif;
  }

  & > p {
    margin-bottom: 1.2em;
    // font-family: $font-family-serif;
    line-height: 1.35;
  }

  a {
    text-decoration: underline;

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus,
      &:active {
        opacity: 0.6;
      }
    }
  }

  p:empty {
    display: none;
  }

  & > * {
    &:last-child,
    &:has(+ p:last-child:empty) {
      margin-bottom: 0;
    }
  }

  & > .wpforms-container.wpforms-container-full:not(:empty) {
    margin-top: var(--space-2xl);
  }

  &:has(.wpforms-confirmation-container-full) > p {
    display: none;
  }

  &:has(.wpforms-confirmation-container-full) > .wpforms-container.wpforms-container-full:not(:empty) {
    margin-top: var(--space-xl);
  }
}
