/* BUTTONS */
.btn {
  --btn-font-size: 1rem;
  --btn-line-height: 1.5;
  --btn-weight: 500;
  --btn-border-width: 0.0625rem;
  --btn-border-radius: 0;

  font-family: $font-family-sans-serif;
  font-weight: var(--btn-weight);
  border-radius: var(--btn-border-radius);
  box-sizing: border-box;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  letter-spacing: 0;
  cursor: pointer;

  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);

  border: var(--btn-border-width) solid transparent;
  background-color: transparent;
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease,
    text-decoration-color 0.3s ease;

  height: 68px;
  min-width: 209px;
  padding: 22px 28px;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--btn-hover-bg, transparent);
      color: var(--btn-hover-color, inherit);
      border-color: var(--btn-hover-border-color, transparent);
    }
  }

  &:focus,
  &:active {
    background-color: var(--btn-focus-bg, transparent);
    color: var(--btn-focus-color, inherit);
    border-color: var(--btn-focus-border-color, transparent);
    outline: none;
  }

  &:focus-visible {
    outline: 0.125rem solid var(--os-primary);
    outline-offset: 0.25rem;
  }

  svg {
    width: 24px;
    height: 24px;
    display: block;

    path {
      stroke: currentColor;
    }
  }

  /* BUTTON SIZES & TYPOGRAPHY  */

  &--small {
    --btn-font-size: 0.875rem;
    --btn-line-height: 1.4;

    height: 52px;
    min-width: 144px;
    padding: 16px 24px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  /* BUTTON VARIANTS */

  // Primary Variant
  &-primary {
    --btn-bg: var(--os-primary);
    --btn-border-color: var(--os-primary);
    --btn-color: #{$white};
    --btn-hover-bg: #000000;
    --btn-hover-border-color: #000000;
    --btn-hover-color: #{$white};
    --btn-focus-bg: var(--os-dark);
    --btn-focus-color: #{$white};
    --btn-focus-border-color: var(--os-dark);

    background-color: var(--btn-bg);
    border-color: var(--btn-border-color);
    color: var(--btn-color);

    &:disabled,
    &.disabled {
      background-color: #{$color-neutral-200} !important;
      border-color: #{$color-neutral-200} !important;
      color: #{$white} !important;
      font-weight: 500 !important;
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  // Secondary Variant (With Arrow)
  &-secondary {
    --btn-bg: transparent;
    --btn-border-color: var(--os-primary);
    --btn-color: var(--os-primary);
    --btn-hover-bg: var(--os-primary);
    --btn-hover-border-color: var(--os-primary);
    --btn-hover-color: #{$white};
    --btn-focus-bg: var(--os-primary);
    --btn-focus-color: #{$white};
    --btn-focus-border-color: var(--os-primary);

    background-color: var(--btn-bg);
    border-color: var(--btn-border-color);
    color: var(--btn-color);

    &:disabled,
    &.disabled {
      background-color: transparent !important;
      border-color: #{$color-neutral-200} !important;
      color: #{$color-neutral-200} !important;
      font-weight: 500 !important;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  // Secondary Variant (No Arrow)
  &-secondary-no-arrow {
    justify-content: center;
    --btn-bg: transparent;
    --btn-border-color: var(--os-primary);
    --btn-color: var(--os-primary);
    --btn-hover-bg: var(--os-primary);
    --btn-hover-border-color: var(--os-primary);
    --btn-hover-color: #{$white};
    --btn-focus-bg: var(--os-primary);
    --btn-focus-color: #{$white};
    --btn-focus-border-color: var(--os-primary);

    background-color: var(--btn-bg);
    border-color: var(--btn-border-color);
    color: var(--btn-color);
    min-width: 97px;

    &.btn--small,
    &--small {
      min-width: 84px;
    }

    &:disabled,
    &.disabled {
      background-color: transparent !important;
      border-color: #{$color-neutral-200} !important;
      color: #{$color-neutral-200} !important;
      font-weight: 500 !important;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  // Tertiary Variant
  &-tertiary {
    background-color: transparent;
    color: var(--os-primary);
    border: none;
    border-bottom: 1px solid var(--os-primary);
    border-radius: 0;

    height: 40px;
    min-width: 0;
    padding: 8px 0;
    gap: 0.5rem;

    justify-content: flex-start;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: transparent;
        color: var(--os-dark);
        border-bottom-color: var(--os-dark);
      }
    }

    &.btn--small,
    &--small {
      height: 36px;
      padding: 8px 0;
    }

    &:disabled,
    &.disabled {
      color: #{$color-neutral-200} !important;
      border-bottom-color: #{$color-neutral-200} !important;
      font-weight: 500 !important;
      background-color: transparent;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  // Reset
  &-reset {
    border: none;
    background: transparent;
    padding: 0;
    height: auto;
    min-width: auto;
  }
}

/* CTA LINKS */
.c-cta-link {
  &:hover {
    text-decoration: underline;
  }
}
