.dropdown {
  $self: &;

  &--default {
    #{ $self } {
      &-menu {
        --bs-dropdown-border-radius: 0;
        --bs-dropdown-padding-x: clamp(0.75rem, 0.19vw + 0.704rem, 0.875rem);
        --bs-dropdown-padding-y: clamp(0.75rem, 0.19vw + 0.704rem, 0.875rem);
        --bs-dropdown-border-width: 0;
        --bs-dropdown-bg: var(--bs-light-grey);
      }

      &-toggle {
        &::after {
          content: $icon-chevron-down;
          font-family: $icomoon-font-family;
          border: 0;
          vertical-align: top;
          margin-left: var(--space-2xs);
          font-size: 1.125rem;
          width: 1.125rem;
          height: 1.125rem;
        }

        &.show {
          background-color: var(--btn-hover-bg);

          &::after {
            content: $icon-chevron-up;
          }
        }
      }
    }
  }
}
