.c {
  &-tag {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    &--button {
      border-radius: 100px;
      border: 1px solid var(--border-subtle, #dbdad7);
      padding-block: 0.5rem;
      line-height: 1.5rem;
      font-weight: 400;
    }
  }
}
