// @font-face {
//     font-family: 'Source Sans 3';
//     src: url('#{$font-path}/SourceSans3-Roman.woff2') format('woff2'),
//         url('#{$font-path}/SourceSans3-Roman.woff') format('woff');
//     font-weight: 300 350 400 500 600 700 900;
//     font-style: normal;
//     font-display: swap;
// }

// Font Faces
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Neue";
  src: url("../fonts/RecklessNeue-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Neue";
  src: url("../fonts/RecklessNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Neue";
  src: url("../fonts/RecklessNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
