@import '../common';

.home-leadspace {
    height: 668px;
    position: relative;

    &__outer-ellipse {
        border-radius: 50%;
        position: relative;
        z-index: 10;

        // slope = (2044-744)/(1440-375) =1.2207

        height: clamp(744px, calc(744px + 1.2207 * (100vw - 375px)), 2044px);
        width: clamp(744px, calc(744px + 1.2207 * (100vw - 375px)), 2044px);
        border: 0.5rem solid rgba($color-secondary, 0.1);
        left: 50%;
        transform: translateX(-50%);
        margin-top: clamp(-1424px, calc(-136px + -1.209 * (100vw - 375px)), -136px);
        overflow: visible;


        @include media-breakpoint-up(xl) {
            height: clamp(2044px, calc(2044px + 1.2207 * (100vw - 1440px)), 9999px);
            width: clamp(2044px, calc(2044px + 1.2207 * (100vw - 1440px)), 9999px);

            margin-top: clamp(-9999px, calc(-1424px + -1.209 * (100vw - 1440px)), -1424px);
        }
    }

    &__scroll-ellipse {
        display: block;
        position: absolute;
        top: -0.5rem;
        left: -0.5rem;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 0.5rem solid transparent;
        border-left-color: $color-primary-red;
        border-top-color: $color-primary-red;
        will-change: transform;
        transition: transform 500ms ease-in-out;
        pointer-events: none;
        box-sizing: content-box;
    }

    &__inner-ellipse {
        border-radius: 50%;
        position: relative;
        top: -15px;
        z-index: 10;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
   
    &__video {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        @include media-breakpoint-up(lg){
            height: 160%;
            object-fit: contain;
        }
    }

    &__text-content {
        z-index: 20;
        color: $color-neutral-50;
        gap: 2rem;

        // left: 50%;
        // transform: translateX(-50%);
        max-width: clamp(318px, calc(318px + (832 - 318) * ((100vw - 375px) / (1440 - 375))), 832px);
        text-align: center;

        @include media-breakpoint-up(xl) {

            // max-width: 808px;
            // left: 50%;
            // transform: translateX(-50%);
            bottom: 200px;
            text-align: center;
        }

    }

    &__text-body {
        // .display-1--mobile-view {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     color: $color-neutral-50;

        //     @include media-breakpoint-up(lg) {
        //         display: none;
        //     }
        // }

        .h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-neutral-50;

            
            // @include media-breakpoint-up(lg) {
            //     display: block;
            //     color: $color-neutral-50;
            // }
        }
    }

    &__overlay {
        position: absolute;
        // inset: 0;
        background: linear-gradient(25.38deg, #000000 28.68%, rgba(0, 0, 0, 0) 92.02%);
        opacity: 40%;
        pointer-events: none;
        z-index: 15;
        height: 100%;
        width: 100%;

    }
}

 .video-container{
        position: absolute;
        height: 100%
    }
    .text-container{
        position: relative;
        bottom: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
    }
