@import '../common';

.our-projects{
    @include media-breakpoint-up(xxl)
{
margin: 0 auto;
}}

.our-project-leadspace-container{
    min-height: calc(100vh - 4.375rem);

    @include media-breakpoint-up(lg) {
        min-height: calc(100vh - 5.625rem);
    }
    
  
    video{
      
        aspect-ratio: 15/16;
        @include media-breakpoint-up(lg){
            aspect-ratio: 1440/816;
        }
    }

    &__overlay{
        background: linear-gradient(25.38deg, #000000 28.68%, rgba(0, 0, 0, 0) 92.02%);
        opacity: 40%;
        pointer-events: none;
        z-index: 15;
        height: 100%;
        width: 100%;
    }

    &__heading{
        color: $color-neutral-50 !important;
        font-size: clamp(3rem, 1.4155rem + 6.7606vw, 7.5rem) !important;
       max-width: clamp(318px, 148.86px + 45.13vw, 840px) !important;
    }

     &__text{
        @media (min-width:1200px) and (max-width: 1440px) {
            margin-left: 0px !important;
            margin-right: 0px !important;            
        }
    }
}
