
@import '../common';

.project-detail{
    background-repeat: repeat;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../../images/project-detail-bg.png');
        background-repeat: repeat;
        opacity: 0.2; 
        z-index: 0;
    }

    > * {
        position: relative;
        z-index: 1;
    }

    &__feature-wrapper{
        gap: 14px !important;

        @include media-breakpoint-up(lg){
            gap: 32px !important;
        }
        
        .body-large{
        line-height: 150% !important;
    }
    }

    &__feature-block{
        img{
            border-radius: 10px;
            aspect-ratio: 319/182;
        }
    }

    body-large{
        line-height: 150% !important;
    }
}
