// Transitions
.transition {
  &-slow {
    @include transition(all 0.5s ease !important);
  }

  &-fast {
    @include transition(all 0.3s ease !important);
  }
}

// Links
.link {
  &-styled {
    position: relative !important;
    text-decoration: none !important;
    font-weight: 500 !important;

    &::after {
      content: "" !important;
      background-color: $primary !important;
      width: 100% !important;
      height: 2px !important;
      position: absolute !important;
      bottom: -7px !important;
      left: 0 !important;
      @extend .transition-fast;
    }

    &:hover {
      &:hover,
      &:focus,
      &:active,
      &.disabled,
      &:disabled {
        //@extend .opacity-3;
      }
    }
  }
}

// Truncating the paragraphs
.truncate {
  &--1-line {
    @include ellipsis(30px, 1);
  }

  &--2-line {
    @include ellipsis(58px, 2);
  }

  &--3-line {
    @include ellipsis(84px, 3);
  }

  &--5-line {
    @include ellipsis(84px, 5);
  }
}

// Background Variations
.bg {
  &-cover {
    background-size: cover !important;
  }

  &-position {
    &-center {
      background-position: center center !important;
    }
  }

  &-no-repeat {
    background-repeat: no-repeat !important;
  }

  &-transparent {
    background-color: transparent !important;
  }
}

// Text Styling
.text {
  &-indent {
    text-indent: -9999px !important;
  }

  &-indent-0 {
    text-indent: 0 !important;
  }
}

// Image Full Screen
.full-screen {
  @extend .bg-cover;
  @extend .bg-no-repeat;
  @extend .bg-position-center;
}

// Flex Assets
.flex {
  &-rows-break {
    flex-basis: 100% !important;
    height: 0 !important;
    margin: 0 !important;
  }

  &-bottom-push {
    flex: 1 0 auto;
  }
}

// Used instead of list group scss from bootstrap
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

// Used when using lazy="load" and use javascript to add class is-loaded from
[loading="lazy"] {
  opacity: 0;

  &.is-loaded {
    opacity: 1;
  }
}

.u {
  &-content-basic {
    a {
      text-decoration: underline;
      text-underline-offset: 0.145rem;
      text-decoration-thickness: 0.0625rem;

      &:hover {
        text-decoration: none;
      }
    }

    span {
      text-decoration: underline;
      text-underline-offset: 0.375rem;
      text-decoration-thickness: 0.0625rem !important;
    }
  }

  // for input checkbox utility
  &-input-check {
    --os-input-check-font-size: 1rem;
    --os-input-check-line-height: 1.625rem;
    --os-checkbox-space: 1rem;
    --os-checkbox-radius: 0.25rem;
    --os-checkbox-border-color: var(--border-input-default);

    display: flex;
    font-size: var(--os-input-check-font-size);
    line-height: var(--os-input-check-line-height);
    gap: var(--os-checkbox-space);
    appearance: none;

    input {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: var(--os-checkbox-radius);
      border: 1px solid var(--os-checkbox-border-color);
      margin-top: 0.25rem;
      appearance: none;
      background-image: var(--os-form-check-bg-image);
      background-position: 50%;
      flex-shrink: 0;

      &:checked {
        background-color: var(--os-primary);
        border-color: var(--os-primary);

        &[type="checkbox"] {
          --os-form-check-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5 10.0004L8.53553 13.5359L15.6058 6.46484' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }
  }
}
