
@import "settings/path";


@import "settings/bootstrap-variables";
@import "settings/global-vars";


@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";


@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/transitions";


@import "bootstrap/scss/accordion";
@import "bootstrap/scss/modal";


@import "tools/mixins";
@import "tools/placeholders";


@import "generic/fonts";
@import "generic/icons/icons";


@import "elements/type";
@import "elements/grids";
@import "elements/config";


@import "./layout";
@import "./components";


@import "modules/styleguide";


@import "bootstrap/scss/utilities";

/* CUSTOM UTILITIES OVERRIDE */
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),

    "color": (
      property: color,
      class: text,
      values: map-merge(
        $theme-colors,
        (
          "white": $white,
          "primary-red": $color-primary-red,
          "dark-red": $color-dark-red,
          "secondary": $color-secondary,
          "neutral-600": $color-neutral-600,
          "neutral-500": $color-neutral-500,
          "neutral-400": $color-neutral-400,
          "neutral-300": $color-neutral-300,
          "neutral-200": $color-neutral-200
        )
      ),
    ),

    "background-color": (
      property: background-color,
      class: bg,
      values: map-merge(
        $theme-colors,
        (
          "white": $white,
          "primary-red": $color-primary-red,
          "dark-red": $color-dark-red,
          "secondary": $color-secondary,
          "neutral-600": $color-neutral-600,
          "neutral-500": $color-neutral-500,
          "neutral-400": $color-neutral-400,
          "neutral-300": $color-neutral-300,
          "neutral-200": $color-neutral-200
        )
      ),
    ),

    "margin": (
      responsive: true,
      property: margin,
      class: m,
      values: map-merge($spacers, (auto: auto)),
    ),

    "padding": (
      responsive: true,
      property: padding,
      class: p,
      values: $spacers,
    ),
  )
);


@import "./utilities";


@import "bootstrap/scss/utilities/api";