/* ==============================================
   Global App SCSS
   ============================================== */
@import "common";

html :where(.editor-styles-wrapper) {
  color: #424241 !important;
}

.editor-visual-editor {
  /* stylelint-disable-next-line no-invalid-position-at-import-rule */
  @import "./custom-editor-modules";

  .m-industry-carousel .swiper-slide {
    width: 21.063rem;
  }

  .m-industry-carousel .swiper-wrapper {
    gap: 1.5rem;

    a {
      color: var(--os-white, #fff);
    }
  }

  [loading="lazy"] {
    opacity: 1;
  }

  .container {
    --grid-side-gutter: 1.5rem;
    --grid-gutter: 1.5rem;

    @media (width >= 576px) {
      --grid-side-gutter: 2rem;
    }
  }

  &:has(.has-small-font-size) .has-small-font-size {
    font-size: 0.875rem !important; // 14px
    line-height: 1.5rem !important; // 24px (~160%)
  }

  &:has(.has-medium-font-size) .has-medium-font-size {
    font-size: 1.125rem !important; // 18px
    line-height: 1.8125rem !important; // ~29px
    letter-spacing: 0 !important;
  }

  &:has(.has-large-font-size) .has-large-font-size {
    font-size: 1.125rem !important; // 18px
    line-height: 1.8125rem !important; // ~29px

    @include media-breakpoint-up(md) {
      font-size: 1.25rem !important; // 20px
      line-height: 2rem !important; // 32px
    }
  }

  &:has(.has-x-large-font-size) .has-x-large-font-size {
    font-size: 1.25rem !important; // 20px
    line-height: 2rem !important; // 32px

    @include media-breakpoint-up(md) {
      font-size: 1.5rem !important; // 24px
      line-height: 2.25rem !important; // 36px
    }
  }
}

.post-type-post,
.template-simple {
  // post content

  .wp-block-embed {
    margin: 0;
    width: 100%;
  }

  .wp-block-post-content {
    max-width: 780px;
    margin-inline: auto;
    font-size: 1.125rem !important; // 18px
    line-height: 1.8125rem !important; // ~29px
    letter-spacing: 0 !important;

    a {
      text-decoration: underline;
      transition: all 0.3s ease;
      color: $primary;
      text-underline-offset: 0.25rem;

      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--font-color-headline);
    }

    p h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        padding-inline: 2.5rem;
      }
    }

    p,
    ul {
      &:first-of-type {
        margin-top: 0;
      }
    }

    ul,
    ol {
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        padding-inline: 3.75rem;
      }
    }

    // parapgraph and ul li and ol li after headings

    h1 + p,
    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p,
    h6 + p,
    h1 + ul,
    h2 + ul,
    h3 + ul,
    h4 + ul,
    h5 + ul,
    h6 + ul,
    h1 + ol,
    h2 + ol,
    h3 + ol,
    h4 + ol,
    h5 + ol,
    h6 + ol {
      margin-top: 1rem;
    }

    > figure {
      max-width: 100%;

      img {
        @include media-breakpoint-up(md) {
          margin-inline: 0 -2.5rem;
        }
      }
    }

    .wp-block-image + *,
    .wp-block-table + *,
    .wp-block-embed + *,
    .wp-block-quote + *,
    blockquote + *,
    p + .wp-block-image,
    p + .wp-block-table,
    p + .wp-block-embed,
    p + .wp-block-quote,
    p + blockquote,
    p + h1,
    p + h2,
    p + h3,
    p + h4,
    p + h5,
    p + h6,
    ul + h1,
    ul + h2,
    ul + h3,
    ul + h4,
    ul + h5,
    ul + h6,
    ol + h1,
    ol + h2,
    ol + h3,
    ol + h4,
    ol + h5,
    ol + h6,
    .wp-block-quote + .wp-block-table,
    .wp-block-quote + .wp-block-image,
    .wp-block-quote + .wp-block-embed,
    blockquote + .wp-block-embed {
      margin-top: 2.5rem;
    }

    p + *,
    ul + *,
    ol + *,
    .wp-block-quote + *,
    blockquote + *,
    .wp-block-separator + * {
      margin-top: 2.5rem !important;
    }

    & + .post {
      margin-top: 2.4rem;

      @include media-breakpoint-up(lg) {
        margin-top: 3.2rem;
      }
    }

    table {
      border: 0.1rem solid $dark;
      width: 100%;
      margin-bottom: 1rem;

      th,
      td {
        border: 0.1rem solid $dark;
        padding: 1rem;
        vertical-align: top;
      }
    }

    ul,
    ol,
    p {
      margin-top: 2.5rem;
    }

    img.alignleft,
    img.alignright,
    hr {
      margin: 2.4rem 0;

      @include media-breakpoint-up(lg) {
        margin: 3.2rem 0;
      }
    }

    figure,
    img {
      &.aligncenter {
        margin-left: auto;
        margin-right: auto;
      }

      &.alignright {
        @include media-breakpoint-up(md) {
          margin-left: 2.4rem;
          float: right;
        }

        @include media-breakpoint-up(lg) {
          margin-left: 3.2rem;
        }
      }

      &.alignleft {
        @include media-breakpoint-up(md) {
          margin-right: 2.4rem;
          float: left;
        }

        @include media-breakpoint-up(lg) {
          margin-right: 3.2rem;
        }
      }
    }

    .wp-block-column {
      p {
        margin-top: 0;
        padding-inline: 0;
        margin-bottom: 1.5rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    iframe {
      @extend .ratio;
      @extend .ratio-16x9;
    }

    p {
      img {
        margin-top: 0 !important;
      }
    }

    .wp-block-pullquote {
      padding-top: 0;
      padding-bottom: 0;
    }

    :where(.wp-block-pullquote) {
      font-size: 1rem;

      cite {
        font-size: 0.875rem;
      }
    }

    blockquote {
      display: inline-block;
      width: 100%;
      padding: 1.5rem;
      position: relative;
      margin-bottom: 0;
      font-size: 1.25rem; // 20px
      line-height: 2rem; // 32px
      font-family: Gelasio, serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: var(--font-color-headline);

      @include media-breakpoint-up(md) {
        font-size: 1.5rem; // 24px
        line-height: 2.25rem; // 36px
        padding-inline: 4rem;
        padding-block: 1.5rem;
      }

      p,
      cite {
        padding-inline: 0;
        margin-block-start: 0;
      }
    }

    ol li,
    ul li {
      margin-bottom: 1rem;
    }

    .pull-right {
      @include media-breakpoint-up(md) {
        float: right !important;
      }
    }

    &:has(.has-small-font-size) .has-small-font-size {
      font-size: 0.875rem !important; // 14px
      line-height: 1.5rem !important; // 24px (~160%)
    }

    &:has(.has-medium-font-size) .has-medium-font-size {
      font-size: 1.125rem !important; // 18px
      line-height: 1.8125rem !important; // ~29px
      letter-spacing: 0 !important;
    }

    &:has(.has-large-font-size) .has-large-font-size {
      font-size: 1.125rem !important; // 18px
      line-height: 1.8125rem !important; // ~29px

      @include media-breakpoint-up(md) {
        font-size: 1.25rem !important; // 20px
        line-height: 2rem !important; // 32px
      }
    }

    &:has(.has-x-large-font-size) .has-x-large-font-size {
      font-size: 1.25rem !important; // 20px
      line-height: 2rem !important; // 32px

      @include media-breakpoint-up(md) {
        font-size: 1.5rem !important; // 24px
        line-height: 2.25rem !important; // 36px
      }
    }
  }
}

// Add additional custom code if atmost needed (try avaoiding as much as possible)

// @source "../views/";
// @source "../../app/";
