html {
  text-size-adjust: none;
  text-size-adjust: none;
  text-size-adjust: none;
}

* {
  outline-color: var(--os-rich-black);
}

html,
body {
  height: 100%;
  font-size: 16px;
  position: relative;

  &::selection {
    background-color: rgba(159, 95, 69, 20%);
  }
}

body {
  @include font-smoothing(on);
  line-height: 1.625;

  // TODO:: check if needed below code
  // &.prevent-scrolling {
  //   @extend .overflow-hidden, .position-fixed, .w-100;

  //   top: auto;
  // }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}
// TODO:: check :is :has for this
p {
  margin-bottom: 2em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

// TODO:: check :is :has for this
ul,
ol {
  padding-left: 1.625rem;

  > li {
    margin-bottom: 0;
  }
}

figure {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

button,
.btn,
.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  --color: var(--bs-dark);

  box-shadow: 0 0 0 1000px transparent inset !important;
  background-clip: text !important;
  caret-color: var(--color) !important;
  color: var(--color) !important;
  -webkit-text-fill-color: var(--color) !important;
}

/* purgecss start ignore */
div[id^="__lpform_"] {
  display: none;
}

/* Hide the skip link by default */
.skip-link {
  background-color: $white;
  border: 0.0625rem solid $primary;
  border-radius: 0.5rem;
  position: fixed;
  top: -7.5rem;
  left: 2.5rem;
  color: $black;
  box-shadow: 0 0 0 0.25rem $dark !important;
  padding: 1rem 1.5rem;
  text-decoration: none !important;
  opacity: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: top 0.3s ease-in-out;
  z-index: 99999;
  font-weight: $font-weight-bold;

  span {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    line-height: 1;
    text-align: center;

    i {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1;
    }
  }

  /* Make the skip link visible when focused */
  &:focus,
  &:focus-visible {
    top: 2.5rem;
    opacity: 1;
    color: $black;
  }
}
