:root {
  // Mobile (Viewport < 575px)
  --grid-side-gutter: 1.75rem; // 28px side margin
  --grid-gutter: 1.5rem; // 24px column gap

  // Desktop (Viewport >= 1200px)
  @include media-breakpoint-up(xl) {
    --grid-side-gutter: 5rem; // 80px side margin
    --grid-gutter: 2.5rem; // 40px column gap
  }
}

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--grid-side-gutter);
  padding-left: var(--grid-side-gutter);
  margin-right: auto;
  margin-left: auto;
}

.container {
  // Desktop Wide
  @include media-breakpoint-up(xxl) {
    max-width: 1440px;
  }
}

.row {
  margin-right: calc(var(--grid-gutter) * -0.5);
  margin-left: calc(var(--grid-gutter) * -0.5);

  > .col,
  > [class*="col-"],
  > * {
    padding-right: calc(var(--grid-gutter) * 0.5);
    padding-left: calc(var(--grid-gutter) * 0.5);
  }
}

// .u-grid {
//   display: grid;
//   gap: var(--grid-gutter);
// }

// .container,
// .container-md,
// .container-fluid,
// .row {
//   --bs-gutter-x: var(--grid-gutter);
// }

// .container-fluid {
//   &--limited {
//     max-width: calc(44.625rem + var(--grid-side-gutter) * 2);
//   }
// }
