// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headings-font-family;
  overflow-wrap: normal;
  margin-top: 0;
  letter-spacing: normal;
}

h1,
.h1 {
  font-size: 2.5rem; // 40px (Mobile)
  line-height: 1.2; // 120%
  font-weight: 700; // Bold
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 4rem; // 64px (Desktop)
    line-height: 1.1; // 110%
  }
}

h2,
.h2 {
  font-size: 2rem; // 32px (Mobile)
  line-height: 1.4; // 140%
  font-weight: 700; // Bold
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 3rem; // 48px (Desktop)
    line-height: 1.1; // 110%
  }
}

h3,
.h3 {
  font-size: 1.75rem; // 28px (Mobile)
  line-height: 1.4; // 140%
  font-weight: 700; // Bold
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem; // 40px (Desktop)
    line-height: 1.2; // 120%
  }
}

h4,
.h4 {
  font-size: 1.75rem; // 28px (Mobile)
  line-height: 1.4; // 140%
  font-weight: 700; // Bold
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 2rem; // 32px (Desktop)
    line-height: 1.4; // 140%
  }
}

h5,
.h5 {
  font-size: 1.125rem; // 18px (Mobile)
  line-height: 1.6; // 160%
  font-weight: 400; // Book / Regular
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 1.75rem; // 28px (Desktop)
    line-height: 1.4; // 140%
  }
}

h6,
.h6 {
  font-size: 1.25rem; // 20px (Mobile)
  line-height: 1.4; // 140%
  font-weight: 500; // Medium
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem; // 24px (Desktop)
    line-height: 1.38; // 138%
  }
}

// Display Headings
.display-1 {
  font-family: $headings-font-family;
  font-size: 3rem; // 48px (Mobile)
  line-height: 1.1; // 110%
  font-weight: 700; // Bold
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 7.5rem; // 120px (Desktop)
    line-height: 1; // 100%
  }
}

.display-2 {
  font-family: $headings-font-family;
  font-size: 2.5rem; // 40px (Mobile)
  line-height: 0.9; // 90%
  font-weight: 400; // Book / Regular
  letter-spacing: -0.02em; // -2%

  @include media-breakpoint-up(lg) {
    font-size: 5.5rem; // 88px (Desktop)
    line-height: 1.2; // 120%
    letter-spacing: 0;
  }
}

// Subheadings
.subheading-0 {
  font-family: $headings-font-family;
  font-size: 1.5rem; // 24px (Mobile)
  line-height: 1.38; // 138%
  font-weight: 400; // Book / Regular
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 1.75rem; // 28px (Desktop)
    line-height: 1.55; // 155%
  }
}

.subheading-1 {
  font-family: $headings-font-family;
  font-size: 1.5rem; // 24px (Mobile)
  line-height: 1.38; // 138%
  font-weight: 500; // Medium
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 1.75rem; // 28px (Desktop)
    line-height: 1.4; // 140%
  }
}

.subheading-2 {
  font-family: $headings-font-family;
  font-size: 1.5rem; // 24px (Mobile)
  line-height: 1.38; // 138%
  font-weight: 500; // Medium
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 1.25rem; // 20px (Desktop)
    line-height: 1.4; // 140%
  }
}

.subheading-3 {
  font-family: $headings-font-family;
  font-size: 1.125rem; // 18px (Mobile)
  line-height: 1.6; // 160%
  font-weight: 400; // Book / Regular
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 1.125rem; // 18px (Desktop)
    line-height: 1.6; // 110%
  }
}

// Body Styles
.body {
  font-family: $font-family-sans-serif;
  font-size: 1rem; // 16px (Base)
  line-height: 1.4; // 140%
  font-weight: 400; // Regular
  letter-spacing: 0;

  &-xlarge {
    font-size: 1.5rem; // 24px (Mobile)
    line-height: 1.2; // 120%
    font-weight: 500; // Medium

    @include media-breakpoint-up(lg) {
      font-size: 1.75rem; // 28px (Desktop)
      line-height: 1.5; // 150%
    }
  }

  &-large {
    font-size: 1.125rem; // 18px (Mobile & Desktop)
    line-height: 1.4; // 140%
    font-weight: 400; // Regular
    letter-spacing: 0;

    @include media-breakpoint-up(lg) {
      letter-spacing: 0.02em; // 2% (Desktop only)
    }
  }

  &-medium {
    font-size: 1rem; // 16px (Mobile & Desktop)
    line-height: 1.4; // 140%
    font-weight: 400; // Regular
    letter-spacing: 0;
  }

  &-small {
    font-size: 0.75rem; // 12px (Mobile)
    line-height: 1.5; // 150%
    font-weight: 400; // Regular
    letter-spacing: 0;

    @include media-breakpoint-up(lg) {
      font-size: 0.875rem; // 14px (Desktop)
    }
  }

  &-small-all {
    font-size: 0.875rem; // 14px (Mobile & Desktop)
    line-height: 1.4; // 140% (Mobile)
    font-weight: 500; // Medium
    letter-spacing: 0;

    @include media-breakpoint-up(lg) {
      line-height: 1.5; // 150% (Desktop)
    }
  }

  &-xsmall {
    font-size: 0.75rem; // 12px (Mobile & Desktop)
    line-height: 1.4; // 140%
    font-weight: 400; // Regular
    letter-spacing: 0;
  }
}

// Eyebrow
.eyebrow {
  font-family: $font-family-sans-serif;
  font-size: 0.875rem; // 14px (Mobile & Desktop)
  line-height: 1.5; // 150%
  font-weight: 500; // Medium
  text-transform: uppercase;
  letter-spacing: 0.1em; // 10%
}

// Captions
.caption-1 {
  font-family: $font-family-sans-serif;
  font-size: 0.75rem; // 12px (Mobile)
  line-height: 1.5; // 150%
  font-weight: 500; // Medium
  text-transform: uppercase;
  letter-spacing: 0.1em; // 10%

  @include media-breakpoint-up(lg) {
    font-size: 0.875rem; // 14px (Desktop)
  }
}

.caption-2 {
  font-family: $font-family-sans-serif;
  font-size: 0.875rem; // 14px (Mobile & Desktop)
  line-height: 1.5; // 150%
  font-weight: 500; // Medium
  text-transform: uppercase;
  letter-spacing: 0.1em; // 10%
}

.caption-3 {
  font-family: $font-family-sans-serif;
  font-size: 0.75rem; // 12px (Mobile & Desktop)
  line-height: 1.5; // 150%
  font-weight: 500; // Medium
  text-transform: uppercase;
  letter-spacing: 0.1em; // 10%
}

// Buttons
.btn-text {
  font-family: $font-family-sans-serif;
  font-size: 1rem; // 16px (Mobile & Desktop)
  line-height: 1.5; // 150%
  font-weight: 500; // Medium
  letter-spacing: 0;
}

// Navigation
.nav-text {
  font-family: $font-family-sans-serif;
  font-size: 1rem; // 16px (Mobile & Desktop)
  line-height: 1.5; // 150%
  font-weight: 500; // Medium
  letter-spacing: 0;
}
